## Attendance Data Cleaning

* NBA Attendance data was copied by year into spreadsheets in an Excel file - attendance_data. 
* Using Excel, the data was separated into columns (attendance_data_col) for creating yearly csv files for merging and any further cleaning in Jupyter Notebook.
* This dataset only covers regular season attendance.
* The AVG attendance data is based on each team playing 41 games total

In [2]:
#Loading libraries and dependencies
import pandas as pd
import os

In [3]:
#Importing files
attendance_2015 = pd.read_csv("Raw_Data/2015_attendance.csv")
attendance_2016 = pd.read_csv("Raw_Data/2016_attendance.csv")
attendance_2017 = pd.read_csv("Raw_Data/2017_attendance.csv")
attendance_2018 = pd.read_csv("Raw_Data/2018_attendance.csv")
attendance_2019 = pd.read_csv("Raw_Data/2019_attendance.csv")

In [4]:
attendance_2015.head()

                Team Home ATT Home AVG Road ATT Road AVG
0      Atlanta Hawks  713,909   17,412  720,873   17,582
1     Boston Celtics  721,350   17,594  727,404   17,742
2      Brooklyn Nets  698,529   17,037  739,614   18,039
3  Charlotte Hornets  704,886   17,192  723,833   17,654
4      Chicago Bulls  896,525   21,866  754,592   18,405

In [5]:
#Merging all the years into one datafram based on Team
merge_15_16 = pd.merge(attendance_2015, attendance_2016, on="Team", suffixes=(" 2015", " 2016"))
add_2017 = pd.merge(merge_15_16, attendance_2017, on="Team")
add_2018 = pd.merge(add_2017, attendance_2018, on="Team", suffixes=(" 2017", " 2018"))
add_2019 = pd.merge(add_2018, attendance_2019, on="Team")
#Renaming the columns in the final merge
all_years = add_2019.rename(columns={"Home ATT": "Home ATT 2019",
                           "Home AVG": "Home AVG 2019",
                           "Road ATT": "Road ATT 2019",
                           "Road AVG": "Road AVG 2019",})
all_years.set_index("Team").head()

,Home ATT 2015,Home AVG 2015,Road ATT 2015,Road AVG 2015,Home ATT 2016,Home AVG 2016,Road ATT 2016,Road AVG 2016,Home ATT 2017,Home AVG 2017,Road ATT 2017,Road AVG 2017,Home ATT 2018,Home AVG 2018,Road ATT 2018,Road AVG 2018,Home ATT 2019,Home AVG 2019,Road ATT 2019,Road AVG 2019
Team,,,,,,,,,,,,,,,,,,,,
Atlanta Hawks,"713,909","17,412","720,873","17,582","690,150","16,833","722,066","17,611","654,306","15,959","730,479","17,817","590,769","14,409","729,839","17,801","630,440","15,377","729,237","17,786"
Boston Celtics,"721,350","17,594","727,404","17,742","749,076","18,270","715,023","17,440","760,690","18,553","750,843","18,313","763,584","18,624","760,822","18,557","763,584","18,624","765,533","18,672"
Brooklyn Nets,"698,529","17,037","739,614","18,039","620,142","15,125","742,352","18,106","632,608","15,429","727,958","17,755","639,510","15,598","725,099","17,685","612,597","14,941","741,515","18,086"
Charlotte Hornets,"704,886","17,192","723,833","17,654","716,894","17,485","729,157","17,784","710,643","17,333","720,119","17,564","671,404","16,376","722,558","17,623","676,570","16,502","723,570","17,648"
Chicago Bulls,"896,525","21,866","754,592","18,405","894,659","21,821","744,400","18,156","888,882","21,680","739,359","18,033","851,824","20,776","739,242","18,030","823,475","20,085","730,710","17,822"

In [6]:
#Creating separate data frames for Home and Road Game Attendance
home_attendance= all_years[["Team","Home ATT 2015", "Home AVG 2015", "Home ATT 2016", "Home AVG 2016", "Home ATT 2017", "Home AVG 2017", "Home ATT 2018", "Home AVG 2018", "Home ATT 2019", "Home AVG 2019"]]
road_attendance = all_years[["Team", "Road ATT 2015", "Road AVG 2015", "Road ATT 2016", "Road AVG 2016", "Road ATT 2017", "Road AVG 2017", "Road ATT 2018", "Road AVG 2018", "Road ATT 2019", "Road AVG 2019"]]
#Exporting data to csv files
home_attendance.to_csv("Cleaned_Data/home_attendance.csv", index=False)
road_attendance.to_csv("Cleaned_Data/road_attendance.csv", index=False)

In [7]:
home_attendance.head()

,Team,Home ATT 2015,Home AVG 2015,Home ATT 2016,Home AVG 2016,Home ATT 2017,Home AVG 2017,Home ATT 2018,Home AVG 2018,Home ATT 2019,Home AVG 2019
0,Atlanta Hawks,"713,909","17,412","690,150","16,833","654,306","15,959","590,769","14,409","630,440","15,377"
1,Boston Celtics,"721,350","17,594","749,076","18,270","760,690","18,553","763,584","18,624","763,584","18,624"
2,Brooklyn Nets,"698,529","17,037","620,142","15,125","632,608","15,429","639,510","15,598","612,597","14,941"
3,Charlotte Hornets,"704,886","17,192","716,894","17,485","710,643","17,333","671,404","16,376","676,570","16,502"
4,Chicago Bulls,"896,525","21,866","894,659","21,821","888,882","21,680","851,824","20,776","823,475","20,085"

In [8]:
road_attendance.head()

,Team,Road ATT 2015,Road AVG 2015,Road ATT 2016,Road AVG 2016,Road ATT 2017,Road AVG 2017,Road ATT 2018,Road AVG 2018,Road ATT 2019,Road AVG 2019
0,Atlanta Hawks,"720,873","17,582","722,066","17,611","730,479","17,817","729,839","17,801","729,237","17,786"
1,Boston Celtics,"727,404","17,742","715,023","17,440","750,843","18,313","760,822","18,557","765,533","18,672"
2,Brooklyn Nets,"739,614","18,039","742,352","18,106","727,958","17,755","725,099","17,685","741,515","18,086"
3,Charlotte Hornets,"723,833","17,654","729,157","17,784","720,119","17,564","722,558","17,623","723,570","17,648"
4,Chicago Bulls,"754,592","18,405","744,400","18,156","739,359","18,033","739,242","18,030","730,710","17,822"