In [2]:
import pandas as pd

In [6]:
file_one = "Resources/NBA_Valuations.csv"

nba_team_values_df = pd.read_csv(file_one)
nba_team_values_df.head(29)

,Team,2015 Value,2016 Value,2017 Value,2018 Value,2019 Value
0,ATL,"$825,000,000.00","$825,000,000.00","$885,000,000.00","$1,150,000,000.00","$1,300,000,000.00"
1,BKY,"$1,500,000,000.00","$1,700,000,000.00","$1,800,000,000.00","$2,300,000,000.00","$2,350,000,000.00"
2,BOS,"$1,700,000,000.00","$2,100,000,000.00","$2,200,000,000.00","$2,500,000,000.00","$2,800,000,000.00"
3,CHA,"$725,000,000.00","$750,000,000.00","$780,000,000.00","$1,050,000,000.00","$1,250,000,000.00"
4,CHI,"$2,000,000,000.00","$2,300,000,000.00","$2,500,000,000.00","$2,600,000,000.00","$2,900,000,000.00"
5,CLE,"$915,000,000.00","$1,100,000,000.00","$1,200,000,000.00","$1,325,000,000.00","$1,275,000,000.00"
6,DAL,"$1,150,000,000.00","$1,400,000,000.00","$1,450,000,000.00","$1,900,000,000.00","$2,250,000,000.00"
7,DEN,"$855,000,000.00","$855,000,000.00","$890,000,000.00","$1,125,000,000.00","$1,375,000,000.00"
8,DET,"$810,000,000.00","$850,000,000.00","$900,000,000.00","$1,100,000,000.00","$1,270,000,000.00"
9,GS,"$1,300,000,000.00","$1,900,000,000.00","$2,600,000,000.00","$3,100,000,000.00","$3,500,000,000.00"
10,HOU,"$1,250,000,000.00","$1,500,000,000.00","$1,650,000,000.00","$2,200,000,000.00","$2,300,000,000.00"
11,IND,"$830,000,000.00","$840,000,000.00","$880,000,000.00","$1,175,000,000.00","$1,400,000,000.00"
12,LAC,"$1,600,000,000.00","$2,000,000,000.00","$2,000,000,000.00","$2,150,000,000.00","$2,200,000,000.00"
13,LAL,"$2,600,000,000.00","$2,700,000,000.00","$3,000,000,000.00","$3,300,000,000.00","$3,700,000,000.00"
14,MEM,"$750,000,000.00","$780,000,000.00","$790,000,000.00","$1,025,000,000.00","$1,200,000,000.00"
15,MIA,"$1,175,000,000.00","$1,300,000,000.00","$1,350,000,000.00","$1,700,000,000.00","$1,750,000,000.00"
16,MIL,"$600,000,000.00","$675,000,000.00","$785,000,000.00","$1,075,000,000.00","$1,350,000,000.00"
17,MIN,"$625,000,000.00","$720,000,000.00","$770,000,000.00","$1,060,000,000.00","$1,260,000,000.00"
18,NO,"$650,000,000.00","$650,000,000.00","$750,000,000.00","$1,000,000,000.00","$1,220,000,000.00"
19,NY,"$2,500,000,000.00","$3,000,000,000.00","$3,300,000,000.00","$3,600,000,000.00","$4,000,000,000.00"
20,OKC,"$930,000,000.00","$950,000,000.00","$1,025,000,000.00","$1,250,000,000.00","$1,475,000,000.00"
21,ORL,"$875,000,000.00","$900,000,000.00","$920,000,000.00","$1,225,000,000.00","$1,325,000,000.00"
22,PHI,"$700,000,000.00","$700,000,000.00","$800,000,000.00","$1,180,000,000.00","$1,650,000,000.00"
23,PHX,"$910,000,000.00","$1,000,000,000.00","$1,100,000,000.00","$1,280,000,000.00","$1,500,000,000.00"
24,POR,"$940,000,000.00","$975,000,000.00","$1,050,000,000.00","$1,300,000,000.00","$1,600,000,000.00"
25,SA,"$1,000,000,000.00","$1,150,000,000.00","$1,175,000,000.00","$1,550,000,000.00","$1,625,000,000.00"
26,SAC,"$800,000,000.00","$925,000,000.00","$1,075,000,000.00","$1,375,000,000.00","$1,575,000,000.00"
27,TOR,"$920,000,000.00","$980,000,000.00","$1,125,000,000.00","$1,400,000,000.00","$1,675,000,000.00"
28,UTH,"$850,000,000.00","$875,000,000.00","$910,000,000.00","$1,250,000,000.00","$1,425,000,000.00"

In [8]:
nba_team_values_df.to_csv("Resources/NBA_Team_Valuations.csv", index=False, header=True)