In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Reference to the team names and codes CSV and read the CSV into DataFrame
csv_path = "../Raw_Data/NBA Team Names and codes.csv"
nba_team_names_df = pd.read_csv(csv_path)

#Convert Team Code to uppercase.
nba_team_names_df["Team Code"] = nba_team_names_df['Team Code'].str.upper()
nba_team_names_df

# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
nba_team_names_df.to_csv("../Cleaned_Data/team_codes_and_names.csv", encoding="utf-8", index=True)

In [3]:
# Reference to the team wins CSV and read the CSV into DataFrame
csv_path = "../Raw_Data/NBA Team Wins.csv"
nba_wins_df = pd.read_csv(csv_path)

# Drop columns that are not needed, and Nan rows
nba_wins_df.drop('Rank', axis = 1, inplace = True)
nba_wins_df.dropna(how = 'any', inplace = True)
nba_wins_df.set_index('Season',inplace = True)
#Transpose the dtaframe
# nba_wins_df = nba_wins_df.T
nba_wins_df = nba_wins_df.reset_index()
nba_wins_df = nba_wins_df.sort_values("Season", ascending=True)
nba_wins_df

,Season,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,...,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
4,2014-15,60.0,40.0,38.0,50.0,33.0,53.0,50.0,30.0,32.0,...,45.0,25.0,18.0,39.0,51.0,29.0,55.0,49.0,38.0,46.0
3,2015-16,48.0,48.0,21.0,42.0,48.0,57.0,42.0,33.0,44.0,...,55.0,35.0,10.0,23.0,44.0,33.0,67.0,56.0,40.0,41.0
2,2016-17,43.0,53.0,20.0,41.0,36.0,51.0,33.0,40.0,37.0,...,47.0,29.0,28.0,24.0,41.0,32.0,61.0,51.0,51.0,49.0
1,2017-18,24.0,55.0,28.0,27.0,36.0,50.0,24.0,46.0,39.0,...,48.0,25.0,52.0,21.0,49.0,27.0,47.0,59.0,48.0,43.0
0,2018-19,29.0,49.0,42.0,22.0,39.0,19.0,33.0,54.0,41.0,...,49.0,42.0,51.0,19.0,53.0,39.0,48.0,58.0,50.0,32.0

In [4]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
nba_wins_df.to_csv("../Cleaned_Data/team_wins_per_season.csv", encoding="utf-8", index=True)